* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
body{
    background-color: white;
}
.spotlight{
    height: 500px;
    text-align: center;
    background: url('../../dist/asset/alex-gruber-r0S85Om5JeY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    img{
        margin-top: 150px;
    }
}
.navbar{
    display: flex;
    background-color: cadetblue;
    ul{
        flex-grow: 1;
        margin-left: 10%;
        padding: 10px;
        padding-left: 0px;
        a{
            padding: 10px;
            text-decoration: none;
            color: white;
        }
        a:hover{
            background-color: rgb(226, 226, 226);
            color: black;
        }
    }
    .search{
        margin-right: 10%;
        height: 40px;
        width: 300px;
        border: none;
        color: gray;
    }
}
.container{
    display: flex;
    width: 80%;
    margin: 10% 10% 5% 10%;
    .article{
        flex: 2;
        .content{
            text-align: justify;
            margin-bottom: 5%;
            img{
                float: left;
                margin: 0px 15px 0px 15px;
            }
            h1{
                margin: 0px 15px;
            }
            p{
                margin: 15px;
            }
        }
    }
    .sidebar{
        flex: 1;
        .tag{
            h3{
                margin: 0px 15px;
            }
            li{
                margin: 15px;
                list-style: none;
            }
        }
    }
}
.about{
    margin: 0% 10% 10% 10%;
    text-align: center;
    h1{
        padding: 24px;
    }
    img{
        padding: 24px;
    }
    p{
        padding: 24px;
    }
}
.footbar{
    background-color: whitesmoke;
    height: 400px;
    .cover-col{
        display: flex;
        justify-content: center;
        margin: 0% 10% 0% 10%;
        .col{
            width: 100%;
            height: 100%;
            h4{
                padding: 24px;
            }
            p{
                margin: 24px;
            }
            a{
                margin: 24px;
            }
            form{
                margin: 24px;
                display: flex;
                flex-direction: row;
                input[type=email], input[type=text] {
                    padding: 12px;
                    border: none;
                }
                input[type=submit] {
                    padding: 12px;
                    background-color: cadetblue;
                    color: white;
                    border: none;
                }
                input[type=submit]:hover{
                    background-color: gray;
                }
                
            }
            .contact-us{
                display: flex;
                flex-direction: column;
                input[type=text], [type=submit]{
                    margin: 10px 0px 10px 0px;
                }
            }
        }
    }
}
.foot-menu{
    display: flex;
    background-color: rgb(223, 223, 223);
    ul{
        flex-grow: 1;
        margin-left: 10%;
        padding: 10px 10px 10px 0px;
        a{
            padding-right: 10px;
            text-decoration: none;
            color: black;
            border-right: 1px dotted blue;
            
        }
    }
}